.copyright
    if site.configs.copyright_year
        span(itemprop='copyrightYear')= '&copy;%s - <script type=\'text/javascript\'>document.write((new Date()).getFullYear())</script>'%site.configs.copyright_year
    else
        span(itemprop='copyrightYear')= '&copy;<script type=\'text/javascript\'>document.write((new Date()).getFullYear())</script>'
    span.with-love
        i.fa.fa-heart
    span.author(itemprop='copyrightHolder')= site.configs.author
.powered-by= 'Powered By - '
    a.theme-link(href='https://www.farbox.com')= 'Farbox'
.theme-info= 'Theme - '
    a.theme-link(href='https://github.com/Sunnyyoung/Farbox-NexT')= 'NexT'
