meta(http-equiv='Cache-Control', content='no-transform')
meta(http-equiv='Cache-Control', content='no-siteapp')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
meta(name="author", content=site.configs.author.escaped)
meta(name="keywords", content=site.configs.keywords.escaped)
meta(name="description", content=site.raw_content.escaped)
if has('/_image/favicon.png')
    link(rel="shortcut icon", href=site.configs.favicon, type="image/x-icon")
if site.configs.scheme == 'muse'
    load('/template/source/css/muse.css')
else if site.configs.scheme == 'mist'
    load('/template/source/css/mist.css')
else if site.configs.scheme == 'pisces'
    load('/template/source/css/pisces.css')
else
    load('/template/source/css/muse.css')    
load('/template/source/css/code-highlight/default.css')
load('//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css')
load('//cdn.bootcss.com/fancybox/2.1.5/jquery.fancybox.min.css')
- var config_next = 'var NexT = window.Next || {}'
- var config_start = 'var CONFIG = {'
- var scheme = 'scheme: \'' + site.configs.scheme + '\','
- var sidebar = 'sidebar: {"position": "' + site.configs.sidebar_position + '","display": "' + site.configs.sidebar_display +'"},'
- var fancybox = null
if site.configs.fancybox
    fancybox = 'fancybox: true,'
else
    fancybox = 'fancybox: false,'
- var motion = null
if site.configs.motion
    motion = 'motion: true,'
else
    motion = 'motion: false,'
- var config_end = '}'
script(type='text/javascript', id='hexo.configuration')= config_next + ';' + config_start + scheme + sidebar + fancybox + motion + config_end + ';'
